################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/examples/nlog.examples.net45/bin/Debug
/.vs
/examples/nlog.examples.net45/obj
/libs/win32
/src/NLog.Kafka/obj
/src/NLog.Kafka/bin/Debug
