<?xml version="1.0" encoding="utf-8" ?>
<!--nlog 基础配置  第二行throwExceptions开始 上线后关闭-->
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  throwExceptions="true" throwConfigExceptions="true" internalLogLevel="Trace" internalLogFile="F:\MyProjects\Bitauto.EP.Fx\Presentation\Bitauto.EP.Fx.Web\logs\nlog内部日志.txt" >
  <!-- load NLog.Extended to enable ASP.NET-specific functionality -->


  <targets>
    <target name="queue" xsi:type="kafka" topic="ep_component_log" appname="nlogtest" includeMdc="true"  >
      <!-- bootstrap.servers = 127.0.0.1:9092,127.0.0.1:9092,127.0.0.1:9092 -->
      <producerConfig key="bootstrap.servers" value="127.0.0.1:9092" />
      <producerConfig key="queue.buffering.max.messages" value="2000000" />
      <producerConfig key="retry.backoff.ms" value="500" />
      <producerConfig key="message.send.max.retries" value="3" />
    </target>


  </targets>

  <rules>
    <logger name="*" writeTo="queue" />
  </rules>
</nlog>